<!Doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title> 키워드 광고순위 확인 페이지 by_luke </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <script>
        function addKeyword() {
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/keyword", // /memo라는 url에 요청하겠다.
                data: {name_give: $(`#name`).val()}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("추가 성공!");
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                        alert("실패!")
                    }
                }
            })

        }


        function showKeywords() {
            $.ajax({
                type: "GET",
                url: "/keyword",
                data: {},
                success: function (response) {
                    let keywords = response["keywords"];
                    console.log(keywords);
                    for (let i = 0; i < keywords.length; i++) {
                        makeCard(keywords[i]["keyword"], keywords[i]["count"], keywords[i]["page"], keywords[i]["newUrl"]);
                    }
                }
            })
        }

        function makeCard(keyword, count, page, newUrl) {
            let tempHtml = ` <tr>
                              <td align=center>${keyword}</td>
                              <td align=center>${count}</td>
                              <td align=center>${page}</td>
                              <td align=center>${newUrl}</td>
                           </tr>`;
            $("#table_list").append(tempHtml);
        }
        function eraseKeywords() {
            $("#table_list").empty();

        }

    </script>
</head>
<body>
<h3>키워드 광고순위 확인 페이지 by_Luke</h3>
<p></p>
<div style="position: relative; left: 0px;">
    <button onclick="showKeywords()" type="button" class="btn btn-primary">새로조회</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@getbootstrap">키워드추가
    </button>
     <button onclick="eraseKeywords()" type="button" class="btn btn-primary">화면지우기</button>
<p></p>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">키워드 추가</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name" class="col-form-label">키워드</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <!--                      <div class="form-group">-->
                        <!--                        <label for="message-text" class="col-form-label">Message:</label>-->
                        <!--                        <textarea class="form-control" id="message-text"></textarea>-->
                        <!--                      </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button onclick="addKeyword()" type="button" class="btn btn-primary">키워드 추가</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">키워드</th>
        <th scope="col">순위</th>
        <th scope="col">페이지 위치</th>
        <th scope="col">페이지 링크</th>
    </tr>
    </thead>
    <tbody id="table_list">
   <!-- <tr>
        <td align=center>B2B영업</td>
        <td align=center>1</td>
        <td align=center>2</td>
        <td align=center>www.naver.com/235235236262352</td>
    </tr>
    <tr>
        <td align=center>기업교육</td>
        <td align=center>3</td>
        <td align=center>1</td>
        <td align=center>www.naver.com/28972398789324789</td>
    </tr>-->

    </tbody>

</table>
</div>
</body>

</html>